<div class="card text-white bg-mid-green mb-3 card--hover">
    {% if post.thumbnail %}
        <img class="card-img-top" src="{{post.thumbnail.src}}"/>
    {% endif %}
    <div class="card-header">
        <h4>
            <a href="{{post.link}}">{{post.title}}</a>
        </h4>
        {% for cat in post.categories %}
            <span class="badge badge-primary" data-toggle="tooltip" data-placement="top" title="Category">{{cat.name}}</span>
        {% endfor %}
        {% for tag in post.tags %}
            <span class="badge badge-success badge-pill" data-toggle="tooltip" data-placement="top" title="Tag">{{tag.name}}</span>
        {% endfor %}
    </div>
    <div class="card-body">
        {{post.content|truncate(25) }}
        {% block content %}{% endblock %}
    </div>
    <div class="card-footer">
        <small class="text-muted">Posted
            {{post.date|time_ago}}
            by
            {{post.author.name}}
        </small>
    </div>
</div>