<div class="d-flex align-items-center justify-content-center">
    <a class="social-links__link" href="https://www.youtube.com/channel/UC5I3juUKrJOt8OV5rVsuImw" target="_blank" data-toggle="tooltip" data-placement="top" title="YouTube Channel">
        <img src="{{theme.link}}/assets/img/youtube.svg" alt="YouTube Logo">
    </a>
    <a class="social-links__link" href="https://www.facebook.com/yinzguhyz1/" target="_blank" data-toggle="tooltip" data-placement="top" title="Facebook Page">
        <img src="{{theme.link}}/assets/img/facebook.svg" alt="Facebook Logo">
    </a>
    <a class="social-links__link" href="https://www.instagram.com/yinzguhyz" target="_blank" data-toggle="tooltip" data-placement="top" title="Instagram Page">
        <img src="{{theme.link}}/assets/img/insta.svg" alt="Instagram Logo">
    </a>
    <a class="social-links__link" href="https://www.twitch.tv/yinzguhyz" target="_blank" data-toggle="tooltip" data-placement="top" title="Twitch Channel">
        <img src="{{theme.link}}/assets/img/twitch.svg" alt="Twitch Logo">
    </a>
    <a class="social-links__link" href="https://soundcloud.com/yinz-guhyz" target="_blank" data-toggle="tooltip" data-placement="top" title="SoundCloud Channel">
        <img src="{{theme.link}}/assets/img/soundcloud.svg" alt="SoundCloud Logo">
    </a>
</div>